<div class="wr-header__wrapper">
  <div class='wr-header__title'>
    <h1><span class='working'>Working</span> <span class='report'>Report</span></h1>
  </div>
  <div class='wr-header__subtitle'>
    <p><strong>Our working report helps our readers, supporters and others better understand our mission and the impact
        of our journalism.</strong> It gives an insight into the workings of the organisation that produces the
      Guardian, the Observer, and the Guardian editions in the US and Australia, over the last year.</p>
    <div class='wr-header__subtitle__year'>Guardian Media Group <strong>2018–19</strong></div>
  </div>
</div>