.is-immersive-interactive footer.l-footer {
  display: block;
  .footer__primary,
  .footer__email-container {
    display: none;
  }
  @include mq(wide) {
    .colophon__list:last-child {
      width: 325px
    }
  }
}