.wr-header {
    &__wrapper {
        background-color: #062962;
        border-top: 1px solid #506991;
        position: relative;
        width: 100%;
        padding-top: 240px;

        @include mq(tablet) {
            padding-top: 340px;
        }
        @include mq(desktop) {
            padding-top: 0;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 1px;
            background-color: #506991;
            z-index: 11;
            opacity: 0.5;
            @include mq(tablet) {
                opacity: 1;
                background-color: #062962;
                z-index: 21;
            }
        }
    }

    &__inner {
        @include mq(desktop) {
            width: 980px;
            margin: auto;
            position: relative;
            height: 620px;
        }
        @include mq(leftCol) {
            width: 1140px;
            height: 800px;
        }
        @include mq(wide) {
            width: 1300px;
            height: 880px;
        }
    }

    &__title {
        background-color: #ffe500;
        color: #121212;
        position: absolute;
        top: 46px;
        left: 10px;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 10;
        padding: 9px;
        @include mq(desktop) {
            top: 80px;
            width: 650px;
            left: 10px;
            margin: 0;
        }
        @include mq(leftCol) {
            padding: 12px;
            width: 910px;
            top: 120px;
        }
        .working,
        .report {
            display: block;
            font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
            font-size: 66px;
            line-height: 60px;
            @include mq(mobileMedium) {
                font-size: 68px;
                line-height: 62px;
            }
            @include mq(tablet) {
                font-size: 118px;
                line-height: 102px;
            }
            @include mq(leftCol) {
                font-size: 160px;
                line-height: 135px;
            }
        }
        .working {

        }
        .report {
            @include mq(mobileMedium) {
                padding-left: 101px;
            }
            @include mq(tablet) {
                padding-left: 175px;
            }
            @include mq(desktop) {
                padding-left: 229px;
            }
            @include mq(leftCol) {
                padding-left: 236px;
            }
        }
    }

    &__subtitle {
        position: relative;
        z-index: 20;
        margin-right: 40px;
        padding: 6px 9px 60px 24px;
        background-color: #BD5318;
        color: #fff;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web",Georgia,serif;
        position: relative;

        @include mq(desktop) {
            position: absolute;
            bottom: 0;
            left: 216px;
            width: 440px;
            padding-right: 140px;
        }
        @include mq(leftCol) {
            left: 224px;
            padding-bottom: 100px;
            width: 480px;
            padding-right: 276px;
        }
        @include mq(wide) {
            padding-bottom: 140px;
        }
        p {
            font-size: 20px;
            line-height: 23px;
            font-weight: 200;
            max-width: 620px;
            @include mq(leftCol) {
                font-size: 22px;
                line-height: 25px;
            }
        }
        strong {
            font-weight: 600;
        }
        &__year {
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background-color: #B94317;
            height: 54px;
            line-height: 40px;
            font-size: 16px;
            padding-left: 24px;
            font-weight: 200;
            @include mq(mobileMedium) {
                font-size: 20px;
            }
            @include mq(desktop) {
                width: 448px;
            }
            @include mq(leftCol) {
                font-size: 22px;
                width: 676px;
            }
        }
    }
}
