.wr-header {
    &__wrapper {
        width: 100%;
        background-color: #062962;
        border-top: 1px solid #506991;
        position: relative;
        // @include mq(tablet) {
        //     min-height: 880px;
        //     height: 80vh;
        // }
    }

    &__title {
        background-color: #ffe500;
        color: #121212;
        position: absolute;
        top: 46px;
        left: 20px;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 10;
        padding: 9px;
        .working,
        .report {
            display: block;
            font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
            font-size: 68px;
            line-height: 62px;
            // @include mq(tablet) {
            //     font-size: 160px;
            //     line-height: 135px;
            // }
        }
        .working {

        }
        .report {
            padding-left: 101px;
        }
    }

    &__subtitle {
        margin-top: 260px;
        position: relative;
        z-index: 20;
        margin-right: 20px;
        padding: 6px 9px 68px 21px;
        background-color: #BD5318;
        color: #fff;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web",Georgia,serif;
        position: relative;;
        p {
            font-size: 20px;
            line-height: 23px;
            font-weight: 200;
        }
        strong {
            font-weight: 600;
        }
        &__year {
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background-color: #B94317;
            height: 60px;
            line-height: 44px;
            font-size: 20px;
            padding-left: 20px;
            font-weight: 200;
            // strong {
            //     font-weight: 600;
            // }
        }
    }
}
