figure.element-image {
  margin: 12px 0;

  @include mq(tablet) {
    margin: 12px -20px;
  }

  @include mq(desktop) {
    margin-right: -60px;
  }

  @include mq(wide) {
    margin-right: -70px;
    &.element--showcase {
      margin-right: -130px;
    }
  }

  &.element--immersive {
    margin: 0;
  }

  // App stuff
  & > a {
    display: block;
    line-height: 0;
    pointer-events: none;
    @include mq(tablet) {
      + figcaption .element-image__credit {
        opacity: 1
      }
    }
  }

  &.element--showcase .element-image__credit {
    @include mq(leftCol) {
      margin-right: -110px;
    }
    @include mq(wide) {
      margin-right: -260px;
    }
  }

  .element-atom + &,
  .element-atom + script + & {
    border-bottom: 1px solid #506991;
  
    .element-image__credit {
      bottom: -1px;
      border-bottom: 1px solid #001;
    }
  }
  

  .working-report__section__inner > &:last-child {
    @include mq(tablet) {
      margin-bottom: -18px;
      margin-top: 24px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
  figcaption {
    padding: 0;
    margin: 0;
    position: relative;
    .element-image__caption {
      display: none;
    }
    .element-image__credit {
      // display: none;

      opacity: 0;
      position: absolute;
      padding-top: 0;
      font-size: 12px;
      line-height: 14px;
      max-width: 480px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      color: #f6f6f6;
      bottom: 0;
      right: 0;
      padding: 5px 10px;
      background-color: rgba(#000, 0.75);
    }
  }
  &:hover {
    .element-image__credit {
      opacity: 1;
    }
  }
} 
