@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;

    & + script + blockquote,
    & + blockquote {
        margin-top: 100vh;
    }
}

@import "base";
@import "header";
@import "section-headers";
@import "section-header-type";
@import "section-inner";
@import "images";
@import "numbers";
@import "awards";
@import "fix-footer";


.working-report__wrapper {
    // padding-bottom: 96px;
    @include mq(tablet) {
        background-color: #062962;
        color: #fff;
    }
}
